
/* главный заголовок color: #FFFFFF; */
/* цвет заголовка H2  color: #212121; */
/* цвет текста color: #757575; */
/* цвет акцента color: #2196F3; */
/* вторичный цвет фона background: #F5F4FA */
/* первичный цвет фона background: #FFFFFF; */

/* var - variables - переменная */
/* a, button - color: inherit; 
- наследуй цвет шрифта от родителя */
/* :hover, :focus - псевдокласы */

/* CSS-переменные */
:root {
    --primery-text-color: #212121;
    --title-text-color:  #757575;
    --accent-color: #2196F3;
    --primery-white-color: #ffffff;
    --section-command-bc: #F5F4FA;
}

/* index.html */
/* body селектор, специфика - 1 */
body {
    font-family: 'Roboto', sans-serif;
    color: var(--title-text-color);

    
    letter-spacing: 0.03em;
}

/* шапка сайта */
/* .logo селектор класса, специфика - 10 */
.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    text-decoration: none;

    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
}

.page-header {
    background-color: var(--primery-white-color);
    border-bottom: 1px solid #ECECEC;
}

.main-nav {
    display: flex;
    align-items: center;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    /* убралт маркер у списка */
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.accent {
    color: var(--primery-text-color);
    
    font-size: 26px;
}

.accent-footer {
    color: var(--primery-white-color);
}

/* селектор класса, специфика - 20 */

/* site-nav */

.site-nav {
    display: flex;
    margin-left: 93px;
}

.site-nav .item {
    /* outline: 1px solid red; */
    /* margin-right: 50px; */
}

.site-nav .item + .item {
    margin-left: 50px;
}

        /* убераем крайний маржин */

/* .site-nav .item:last-child {
    margin: 0;
} */

/* .site-nav .item:not(:last-child) {
    margin-right: 50px;
} */


.site-nav .link {
    color: var(--primery-text-color);
    text-decoration: none;
    /* убрали нижнее подчеркивание */

    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}
/* селектор класса, специфика - 30 */
/* :hover - эфект при навидени mыши */
/* :focus - эфект фокусировки, 
когда нажал и держишь или ТАБ */
.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.current {
    color: var(--accent-color);
}


/* auth-nav */

.auth-nav {
    display: flex;
    margin-left: auto;
}

.auth-nav .item + .item {
    margin-left: 50px;
}

.auth-nav .link {
    color: var(--title-text-color);
    text-decoration: none;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.02em;

    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
}

.auth-nav .link:hover,
.auth-nav .link:focus {
    color: var(--accent-color);
}

.ml,
.tel {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.ml {
    width: 16px;
    height: 12px;
}

/* секция hero */

.hero {
    /* background-color: #2F303A; */

    margin: 0;
    padding: 0;
}

.background-hero {
     font-weight: 900;
     font-size: 44px;
     line-height: 1.363;
     text-align: center;
     letter-spacing: 0.06em;
     text-transform: uppercase;

     padding-top: 200px;
     padding-bottom: 200px;

     width: 1600px;
     height: 600px;
     margin-left: auto;
     margin-right: auto;
     background-color: #2F303A;
     background-image: linear-gradient(
     rgba(0,0,0,0.4), 
     rgba(47,48,58,0.4)), 
     url("../images/icon/fon.jpg");
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

.hero-title {
    color: var(--primery-white-color);
    font-size: 44px;

    margin: 0;
    margin-bottom: 30px;
}

/* button */

.button {
    color: var(--primery-white-color);
    background-color: var(--accent-color);
    cursor: pointer;

    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;

    display: inline-block;
    padding: 10px 32px;
    min-width: 200px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0 solid transparent;
}

/* наши возможности */

.appearance {
    /* background-color: #E5E5E5; */
}

.feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    margin-right: 30px;
}

.item:nth-child(4n) {
    margin-right: 0;
}

.feature-list .title {
    color: var(--primery-text-color);
}

.feature-list .item {
    /* background-color: orange; */
    width: 270px;
}

/* .icon-antenna::before {
    background-image: url("../imeges/icon/antenna.svg");
}

.icon-watch::before {
    background-image: url("../imeges/icon/watch.svg");
}

.icon-vector::before {
    background-image: url("../imeges/icon/vector.svg");
}

.icon-astronaut::before {
    background-image: url("../imeges/icon/astronaut.svg");
} */

        /* Альтернатива */

/* .list-icone:nth-child(1)::before {
    background-image: url("../imeges/icon/antenna.svg");
}

.list-icone:nth-child(2)::before {
    background-image: url("../imeges/icon/watch.svg");
}

.list-icone:nth-child(3)::before {
    background-image: url("../imeges/icon/vector.svg");
}

.list-icone:nth-child(4)::before {
    background-image: url("../imeges/icon/astronaut.svg");
} */

.possibilities {
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}

.text {
    margin: 0;
    padding: 0;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
}


/* чем мы занимаемся */

.img {
    display: flex;
    padding-bottom: 94px;
}

.img .technology + .technology {
    margin-left: 30px;
}

.section-title {
    color: var(--primery-text-color);

    margin: 0;
    padding: 0;
    padding-top: 94px;
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
}


/* наша команда */

.section-command {
    background-color: var(--section-command-bc);
    padding-bottom: 94px;
}

.section-command .work {
    padding-top: 94px;
    margin-bottom: 50px;
}

.employees-list {
    display: flex;

    /* margin-bottom: 94px; */
}

.employees-list .team + .team {
    margin-left: 30px;
}

.team {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team {
    background-color: #FFFFFF;
}

.photo {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.name {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.name {
    color: var(--primery-text-color);
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    text-align: center;
}

.profession {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;

    color: var(--title-text-color);

    font-size: 16px;
    line-height: 1.187;
    text-align: center;
}

    /* Постоянные клиенты */

.clients {
    margin: 0;
    padding: 0;

    margin-top: 94px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    text-align: center;

    margin-bottom: 50px;
}

.customer:not(:last-child) {
    margin-right: 30px;
}

.customer-list {
    list-style: none;
    display: flex;
    justify-content: space-between;

    width: 170px;
    height: 92px;
    background-color: #AFB1B8;

    margin-bottom: 50px;
}

/* .customer-list .customer + .customer {
    margin-left: 30px;
} */


/* подвал */

.page-footer {
    background-color: #2F303A;
}

.background-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    /* padding-left: 215px; */
}

.margin {
    margin-bottom: 20px;
}

.info {
    /* display: flex; */
}

.auth-nav-footer .contacts-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;

    font-size: 14px;
    line-height: 1.714;
}

.contacts-link:hover,
.contacts-link:focus {
    color: var(--accent-color);
}

.address {
    color: var(--primery-white-color);

    font-size: 14px;
    line-height: 1.714;

    margin-bottom: 9px;
}

.mail {
    margin-bottom: 9px;
}

.client {
    margin: 0;
    padding: 0;
    margin-top: 94px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
}

/* чорновик */

.client-list {
    margin: 0;
    padding: 0;
    border: 1px solid tomato;
}

.client-item {
    border: 1px solid yellow;
    width: 170px;
    height: 92px;
}

.client-icon {
    fill: currentColor;
}
